* {
  box-sizing: border-box;
}
html {
  overflow: auto;
}
body {
  line-height: 1.5;
  background: #e5e5e5;
  font-family: sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: #72777a;
}

#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
}

aside {
  grid-area: sidebar;
  background-color: white;
}

header {
  grid-area: header;
  box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.07);
  padding: 0;
  border: 0;
  z-index: 9999;
}

main {
  grid-area: main;
}

.header-wrapper {
  display: flex;
  height: 100%;
}
.navbar {
  background-color: #fff;
  display: block;
  height: 100%;
  margin-bottom: 0;
  padding: 0;
  width: 80%;
}
.logo {
  align-items: center;
  float: left;
  width: 20%;
  height: 100%;
  background-color: #fff;
  z-index: 99;
  border: none;
}
.logo-title {
  text-align: center;
}
.logo-title a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #1875f0;
}
a {
  text-decoration: none;
}

.logo-title a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #1875f0;
}
.navbar-left {
  float: left;
  position: relative;
}
.navbar-right {
  float: right;
  padding-left: 0;
  position: relative;
}
ul {
  list-style-type: none;
}
.navbar-right li {
  float: left;
  padding: 0 45px;
}
a {
  color: #647787;
}

.navbar-right li a {
  text-align: center;
  font-family: Segoe UI;
  font-size: 17px;
  line-height: 19px;
  color: #647787;
}
.navbar-right li:last-child {
  margin-top: -10px;
}

.user-img {
  float: right;
}
.user-icon {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.user {
  display: flex;
}
.user-tag {
  margin: 0;
  padding: 0;
  text-align: right;
}

.user-detail {
  margin-right: 15px;
}
.user-name {
  padding: 0;
  margin-top: 0;
}

.search-wrap {
  cursor: text;
  display: inline-flex;
  position: relative;
  font-size: 1rem;
  box-sizing: border-box;
  align-items: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.1876em;
  letter-spacing: 0.00938em;
  margin-left: 10px;
  border-bottom: 2px solid #bdbdbd;
}
.search-wrap-header {
  cursor: text;
  display: inline-flex;
  position: relative;
  font-size: 1rem;
  box-sizing: border-box;
  align-items: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.1876em;
  letter-spacing: 0.00938em;
  margin-left: 10px;
  font-size: 17px;
}
.search-icon {
  margin-right: 8px;
}
.search-input {
  font: inherit;
  color: currentColor;
  width: 100%;
  border: 0;
  height: 1.1876em;
  margin: 0;
  display: block;
  padding: 6px 0 7px;
  min-width: 0;
  background: none;
  box-sizing: content-box;
  animation-name: mui-auto-fill-cancel;
  letter-spacing: inherit;
  animation-duration: 10ms;
}
.search-input:focus {
  outline: none;
}
.fa-bell-o {
  font-size: 19px;
}
.notif {
  top: 0;

  transform: scale(1) translate(50%, -50%);
  transform-origin: 100% 0%;
  color: #fff;
  background-color: #1875f0;
  height: 20px;
  display: flex;
  padding: 0 6px;
  z-index: 1;
  position: absolute;
  flex-wrap: wrap;
  font-size: 0.75rem;
  min-width: 20px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 10px;
}

.btn {
  text-align: center;
  position: absolute;
  color: white;
  outline: none;
  border: none;
  background: #27ae60;
  border-radius: 30px;
  padding: 10px;
  width: 163px;
  height: 33px;
  left: 32px;
  top: 93px;
}
.sidebar-list {
  width: 100%;
  height: 466px;
  left: 1px;
  top: 158px;
  margin-top: 100px;
}
.list-title {
  margin-left: 40px;
  margin-bottom: 5px;
}

.sidebar-list ul,
.sidebar-list ul li {
  padding: 0;
  margin: 0;
}
.sidebar-list ul li a {
  padding: 10px 35px;
  display: flex;
  white-space: nowrap;
  align-items: center;
  line-height: 25px;
}

.sidebar-list ul li:hover {
  padding: 0px;
  border-left: 5px solid#1875f0;
  background-color: rgb(41, 98, 255, 0.1);
  color: #72777a;
}

.sidebar-list ul li:hover:a {
  color: white;
}
.hide-menu {
  margin-left: 10px;
}

.container {
  margin: 20px;
}

.card-wrap {
  display: flex;
  margin-bottom: 20px;
}
.transact-card {
  background-color: #fff;
  width: 30%;
  margin-right: 5px;
  display: flex;
  padding: 15px 15px 5px 15px;
}
.card-cont {
  width: 65%;
}
.card-graph {
  width: 35%;
}
.card-cont p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #72777a;
}
.card-cont p:last-child {
  font-weight: bold;
  color: black;
}
.transact-history {
  display: flex;
  background-color: rgb(227, 227, 227);
}
.full-graph {
  width: 70%;
  float: left;
  margin-right: 5px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.summary {
  width: 30%;

  background-color: rgb(227, 227, 227);
}

.order-summary {
  background-color: #fff;
  padding: 20px;
}
.order-summary:first-child {
  margin-bottom: 5px;
}

.payment-type {
  margin: 0;
  font-weight: bold;
}
.order-summary p {
  margin-top: 0;
}
.btn-page {
  float: right;
  padding: 10px;
}

.page-detail {
  float: left;
}

.btn-next {
  outline: none;
  border: none;
  padding: 10px;
  border: 1px solid #d9d9d9;
  background-color: #f0f1f5;
}
.btn-next.active {
  background-color: rgb(24, 117, 240);
  color: white;
  border-left: none;
  border-right: none;
}
.graph-direct {
  display: flex;
  justify-content: space-between;
}
.graph-direct p {
  padding: 10px;
  font-weight: bold;
}
.graph-control {
  padding: 20px;
}
.graph-control button {
  margin-right: 10px;
}
.pending {
  color: gold;
}
.success {
  color: green;
}
.total {
  color: blue;
}
fa-angle-down {
  text-align: center;
  margin-top: 10px;
}

.btn-cta {
  color: #f50057;
  border: 1px solid #d9d9d9;
  border-radius: 50px;
  padding: 5px 15px;
  cursor: pointer;
  min-width: 120px;
  display: inline-flex;
  outline: 0;

  position: relative;
  align-items: center;
  outline: none;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
}

.fa-angle-down {
  font-size: 19px;
  margin-left: 30px;
}

.fa-circle {
  font-size: 13px;
  margin-right: 5px;
}

.trans-status {
  width: 60%;
}
item-type {
  width: 100%;
  display: flex;
  position: relative;
  box-sizing: border-box;
  text-align: left;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  justify-content: flex-start;
  text-decoration: none;
  padding-left: 10px;
}
.item-type-avatar {
  min-width: 56px;
  flex-shrink: 0;
}
.item-type-text {
  flex: 1 1 auto;
  min-width: 0;
  margin-top: 4px;
  margin-bottom: 4px;
}
.avatar {
  background-color: #bdbdbd;
  color: "white !important";
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: relative;
  /* font-size: 1.25rem; */
  align-items: center;
  flex-shrink: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1;
  user-select: none;
  border-radius: 50%;
  justify-content: center;
}

.table-meta {
  display: flex;
}

.table-meta-text {
  width: 40%;
}
.table-meta-search {
  width: 40%;
}

.search-icon {
  margin-right: 8px;
}
.table-meta-sort {
  width: 40%;
}

.sort-wrap {
  cursor: text;
  display: inline-flex;
  position: relative;
  font-size: 1rem;
  box-sizing: border-box;
  align-items: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.1876em;
}

.sort-input {
  padding: 8px;
  outline: none;
  border: 1px solid #bdbdbd;
  margin-left: 10px;
}

.sort-input option {
  padding: 20px;
}
.fa-bell-o {
  font-size: 19px;
}

.graph-direct {
  display: flex;
  justify-content: space-between;
}
.graph-direct p {
  padding: 10px;
  font-weight: bold;
}
.graph-control {
  padding: 20px;
}
.graph-control button {
  margin-right: 10px;
}
.fa-angle-down {
  text-align: center;
  margin-top: 10px;
}

.btn-cta {
  color: #d9d9d9;
  border: 1px solid #d9d9d9;
  border-radius: 50px;
  padding: 5px 15px;
  cursor: pointer;
  min-width: 120px;
  display: inline-flex;
  outline: 0;

  position: relative;
  align-items: center;
  outline: none;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
}

.fa-angle-down {
  font-size: 19px;
  margin-left: 30px;
}

.fa-circle {
  font-size: 13px;
  margin-right: 5px;
}

.trans-status {
  width: 60%;
}

.tbl-td:first-child {
  padding-left: 20px;
}
.item-type {
  width: 100%;
  display: flex;
  position: relative;
  box-sizing: border-box;
  text-align: left;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  justify-content: flex-start;
  text-decoration: none;
  padding-left: 10px;
}
.item-type-avatar {
  min-width: 56px;
  flex-shrink: 0;
}
.item-type-text {
  flex: 1 1 auto;
  min-width: 0;
  margin-top: 4px;
  margin-bottom: 4px;
}

@media only screen and (min-width: 990px) {
  #root {
    grid-template-columns: 260px auto;
    grid-template-rows: 5% 95%;
    grid-template-areas:
      "header header"
      "sidebar main ";
  }
  .icon {
    display: none;
  }
  .vert {
    width: 50%;
    display: flex;
    position: absolute;
    top: 260px;
    text-align: center;
  }
  .v1 {
    width: 30%;
    border-right: 1px solid rgb(194, 212, 234);
    height: 300px;
    font-weight: bold;
  }
}

@media only screen and (max-width: 990px) {
  #root {
    grid-template-rows: 5% 95%;
    grid-template-columns: 100%;

    grid-template-areas:
      "header"
      "main";
  }
  header {
    grid-area: header;
    width: 100%;
    position: fixed;
  }

  main {
    grid-area: main;
  }
  aside {
    display: none;
  }
  .navbar {
    display: none;
  }
  .logo {
    align-items: center;
    display: flex;
    width: 100%;
  }
  .logo-title {
    margin-left: 50px;
  }
  .icon {
    margin-right: 10px;
    padding-left: 10px;
  }

  span.icon-bar {
    background-color: gray;
    width: 35px;
    height: 5px;
    margin-bottom: 5px;
    position: relative;
    display: block;
    cursor: pointer;
  }
  .container {
    margin: 5px;
  }
  .card-wrap {
    flex-direction: column;
    width: 100%;
  }
  .transact-card {
    width: 100%;
    margin-bottom: 10px;
  }
  .card-cont {
    width: 60%;
  }
  .card-graph {
    width: 40%;
  }
  .transact-history {
    flex-direction: column;
  }
  .full-graph {
    width: 100%;
    margin-bottom: 20px;
  }
  .summary {
    width: 100%;
  }
  .order-summary {
    width: 100%;
  }
  .table-container {
    overflow-x: auto;
  }
  .vert {
    width: 100%;
    display: flex;
    position: absolute;
    top: 760px;
    text-align: center;
  }
  .v1 {
    width: 30%;
    border-right: 1px solid rgb(194, 212, 234);
    height: 150px;
    font-weight: bold;
  }
}
.sidebar.open {
  display: block;
  width: 260px;
  height: 100%;
  z-index: 900000;
  position: fixed;
  top: 60px;
  transition: 0.2s ease-in;
}
.sidebar.open > .sidebar-list {
  margin-top: 150px;
}
.sidebar.open > button {
  margin-top: 0 !important;
}
